/*
                                africa
*/
.flag-mauritius{
    background-image: linear-gradient(#EA2839 25%,
    #1A206D 25%,
    #1A206D 50%,
    #FFD500 50%,
    #FFD500 75%,
    #00A551 75%);
}
.flag-chad{
    background-image: linear-gradient(to right, 
    #002664 33.333%,
    #FECB00 33.333%,
    #FECB00 66.666%,
    #C60C30 66.666%
    )
}
.flag-ivorycoast{
    background-image: linear-gradient(to right, 
    #F77F00 33.333%,
    #FFFFFF 33.333%,
    #FFFFFF 66.666%,
    #009E60 66.666%
    )
}
.flag-gabon{
    background-image: linear-gradient(#009E60 33.333%,
    #FCD116 33.333%,
    #FCD116 66.666%,
    #3A75C4 66.666%);
}
.flag-guinea{
    background-image: linear-gradient(to right, 
    #CE1126 33.333%,
    #FCD116 33.333%,
    #FCD116 66.666%,
    #009460 66.666%
    )
}
.flag-mali{
    background-image: linear-gradient(#14B53A 33.333%,
    #FCD116 33.333%,
    #FCD116 66.666%,
    #CE1126 66.666%);
}
.flag-sierraleone{
    background-image: linear-gradient(#1EB53A 33.333%,
    #FFFFFF 33.333%,
    #FFFFFF 66.666%,
    #0072C6 66.666%);
}