/*
                                asia
*/
.flag-armenia{
    background-image: linear-gradient(#D90012 33.333%,
    #0033A0 33.333%,
    #0033A0 66.666%,
    #F2A800 66.666%);
}
.flag-russia{
    background-image: linear-gradient(#FFFFFF 33.333%,
    #0039A6 33.333%,
    #0039A6 66.666%,
    #D52B1E 66.666%);
}
.flag-yemen{
    background-image: linear-gradient(#CE1126 33.333%,
    #FFFFFF 33.333%,
    #FFFFFF 66.666%,
    #000000 66.666%);
}