/* 
                                europe
*/
.flag-austria {
  background-image: linear-gradient(red 33.333%,
    white 33.333%,
    white 66.666%,
    red 66.666%);
}
.flag-germany {
  background-image: linear-gradient(black 33.333%,
    red 33.333%,
    red 66.666%,
    yellow 66.666%);
}
.flag-poland{
    background-image: linear-gradient(#FFFFFF 50%,
    #DC143C 50%);
}
.flag-monaco{
    background-image: linear-gradient(#CE1126 50%,
    #FFFFFF 50%);
}
.flag-netherlands{
    background-image: linear-gradient(#AE1C28 33.333%,
    #FFFFFF 33.333%,
    #FFFFFF 66.666%,
    #21468B 66.666%);
}
.flag-bulgaria{
    background-image: linear-gradient(#FFFFFF 33.333%,
    #00966E 33.333%,
    #00966E 66.666%,
    #D62612 66.666%);
}
.flag-belgium{
    background-image: linear-gradient(to right, #000000 33.333%,
    #FAE042 33.333%,
    #FAE042 66.666%,
    #ED2939 66.666%);
}
.flag-estonia{
    background-image: linear-gradient(#4891D9 33.333%,
    #000000 33.333%,
    #000000 66.666%,
    #FFFFFF 66.666%);
}
.flag-france{
    background-image: linear-gradient(to right, 
    #002395 33.333%,
    #FFFFFF 33.333%,
    #FFFFFF 66.666%,
    #ED2939 66.666%
    )
}
}
.flag-hungary{
    background-image: linear-gradient(#CD2A3E 33.333%,
    #FFFFFF 33.333%,
    #FFFFFF 66.666%,
    #436F4D 66.666%);
}
.flag-ireland{
    background-image: linear-gradient(#169B62 33.333%,
    #FFFFFF 33.333%,
    #FFFFFF 66.666%,
    #FF883E 66.666%);
}
.flag-italy{
    background-image: linear-gradient(#009246 33.333%,
    #FFFFFF 33.333%,
    #FFFFFF 66.666%,
    #CE2B37 66.666%);
}
.flag-lithuania{
    background-image: linear-gradient(#FDB913 33.333%,
    #006A44 33.333%,
    #006A44 66.666%,
    #C1272D 66.666%);
}
.flag-luxembourg{
    background-image: linear-gradient(#ED2939 33.333%,
    #FFFFFF 33.333%,
    #FFFFFF 66.666%,
    #00A1DE 66.666%);
}
.flag-romania{
    background-image: linear-gradient(to left, #002B7F 33.333%,
    #FCD116 33.333%,
    #FCD116 66.666%,
    #CE1126 66.666%);
}