* {
    padding: 0;
    margin: 0;
}
/* Flag config*/
.flag{
    background-color: #fff;
    display: inline-block;
    border: 1px solid black;
}
.flag-small{
    height: 30px;
    width: 50px;
}
.flag-small-square{
    height: 30px;
    width: 30px;
}
.flag-normal{
    height: 60px;
    width: 100px;
}
.flag-normal-square{
    height: 60px;
    width: 60px;
}
.flag-big{
    height: 120px;
    width: 200px;
}
.flag-big-square{
    height: 120px;
    width: 120px;
}
.flag-round{
    border-radius: 50%;
}
