/*
                                South America
*/
.flag-colombia{
    background-image: linear-gradient(#FCD116 50%,
    #003893 50%,
    #003893 75%,
    #CE1126 75%);
}
.flag-bolivia{
    background-image: linear-gradient(#D52B1E 33.333%,
    #FFE000 33.333%,
    #FFE000 66.666%,
    #007934 66.666%);
}